body {
    text-align: center;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#conteiner {
    text-align: left;
    padding: 2rem;
    width: 70%;
    border: 1px solid #333;
    
}